html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  height: 30px;
}
